.profile-photo {
  background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExajlkZ21rNm15YXZ1amE1bnlubHp3ZGpsYThudnh5NmpmZHM5aWk4NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1EpbANDwIoBHORfa/giphy.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
